{{ define "main" }}
    <section>
        <h1>{{ .Title }}</h1>
    </section>
    <p>
        {{ with .Date }}
            {{ $dateMachine := . | time.Format "2006-01-02T15:04:05-07:00" }}
            {{ $dateHuman := . | time.Format ":date_long" }}
            <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
        {{ end }}
    </p>
    <article>
        {{ .Content }}
    </article>
    <nav class="nav">
        {{ with .Prev }}
            <div class="nav-left">
                <a href="{{ .RelPermalink }}" class="active"><< {{ .Title }}</a>
            </div>
        {{ end }}
        {{ with .Next }}
            <div class="nav-right">
                <a href="{{ .RelPermalink }}" class="active">>> {{ .Title }}</a>
            </div>
        {{ end }}
    </nav>
{{ end }}