<meta http-equiv="content-style-type" content="text/css">
<meta http-equiv="content-script-type" content="text/javascript">
<link rel="icon" href="/img/favicon.ico" type="/img/favicon.ico">
<link rel="shortcut icon" href="/img/favicon.ico" type="/img/favicon.ico">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<link rel="stylesheet" href="/css/chota.min.css">
<style>
    :root {
      --color-primary: #118aba;
      --color-error: #b84f99;
    }
</style>
{{ template "_internal/twitter_cards.html" . }}
